.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #141414;
  padding: 10px;
  color: white;
}

/* Header left */

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
}

.header__left > img {
  object-fit: contain;
  height: 27px;
}

.header__left > .MuiSvgIcon-root {
  margin-left: 2px;
  font-size: 20px !important;
  padding: 5px;
  cursor: pointer;
}

.header__left > .header__leftBrowseIcon:hover {
  color: rgb(185, 0, 185) !important;
}

.header__left > .header__leftMoreIcon:hover {
  background-color: rgb(153, 153, 153);
  border-radius: 5px;
}

/* Header middle */

.header__middle {
  display: flex;
  align-items: center;
  width: 45vw;
  border-radius: 5px;
  background-color: rgb(58, 57, 57);
  margin-left: 5px;
}

.header__middle > input {
  background-color: transparent;
  border: none;
  color: white;
  outline-width: 0;
  padding-left: 5px;
  height: 30px;
  flex: 1;
}

.header__middle > .MuiSvgIcon-root {
  padding: 5px 8px;
  background-color: rgb(85, 85, 85);
  border-radius: 5px;
  margin-left: 1px;
  cursor: pointer;
}

.header__middle > .MuiSvgIcon-root:hover {
  background-color: gray;
}

/* Header right */

.header__right {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.header__right > .header__rightLoginBtn {
  background-color: gray;
}

.header__right > h4 {
  font-size: 9px;
  padding: 8px 5px;
  margin: 0 4px;
  background-color: #7755e8;
  border-radius: 5px;
  cursor: pointer;
}

.header__right > .header__rightLoginBtn:hover {
  background-color: rgb(151, 151, 151);
}

.header__right > h4:hover {
  background-color: #8f73e9;
}

.header__right > .MuiSvgIcon-root {
  font-size: 19px;
  padding: 3px;
}

.header__right > .MuiSvgIcon-root:hover {
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}
