.sidebar {
  background-color: #1f1f23;
  color: white;
  width: max-content;
  height: 92vh;
  padding: 0 10px;
  flex: 0.05;
}

.sidebar > .MuiSvgIcon-root {
  margin-top: 10px;
  margin-left: 17px;
  color: gray !important;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .sidebar {
    flex: 0.1;
  }

  .sidebar > .MuiSvgIcon-root {
    margin-left: 2px;
  }
}
