.sidebar {
  background-color: #1f1f23;
  color: white;
  width: max-content;
  height: 92vh;
  padding: 0 10px;
  flex: 0.05;
}

.sidebar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: gray;
}

.sidebar__topIcon {
  display: none !important;
}

.sidebar > .MuiSvgIcon-root {
  margin-top: 10px;
  margin-left: 17px;
  color: gray !important;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .sidebar {
    flex: 0.1;
  }

  .sidebar__topIcon {
    display: inline !important;
  }

  .sidebar > .MuiSvgIcon-root {
    margin-left: 2px;
  }
}
