.videosCategories {
  margin: 10px 7px;
}

.videosCategories > img {
  object-fit: contain;
  height: 140px;
}

.videosCategories > img:hover {
  box-shadow: 10px 10px 5px red;
  transition: box-shadow 300ms;
}

.videosCategories > h5 {
  color: lightgray;
  font-size: 15px;
  margin-top: 5px;
}

.videosCategories > p {
  font-size: 14px;
  color: #909090;
  margin-top: 5px;
}

.videosCategories > div {
  margin-top: 7px;
}

.videosCategories > div > span {
  padding: 0 10px;
  font-size: 14px;
  color: lightgray;
  border-radius: 999px;
  background-color: #3e3e40;
}

@media (min-width: 585px) {
  .videosCategories > img {
    height: 175px;
  }
}

@media (min-width: 610px) {
  .videosCategories > img {
    height: 180px;
  }
}

@media (min-width: 700px) {
  .videosCategories > img {
    height: 200px;
  }
}

@media (min-width: 800px) {
  .videosCategories > img {
    height: 210px;
  }
}

@media (min-width: 850px) {
  .videosCategories > img {
    height: 240px;
  }
}
