.videos {
  flex: 0.95;
  margin-top: 10px;
  color: white;
  height: calc(100vh - 120px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.border {
  border: 1px solid rgb(59, 59, 59);
}

.videos__mainVideo {
  background-color: black;
  height: 30vh;
  width: 88vw;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.videos__mainVideo > .videos__mainVideoBottom,
.videos__mainVideo > .videos__mainVideoTop {
  color: white !important;
}

.videos__mainVideo > .videos__mainVideoTop > .MuiSvgIcon-root {
  font-size: 110px !important;
  margin-top: 50px;
  cursor: pointer;
}

.videos__mainVideo > .videos__mainVideoTop > .MuiSvgIcon-root:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 5px;
}

.videos__mainVideo > .videos__mainVideoTop {
  display: flex;
  justify-content: center;
}

.videos__mainVideoBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.videos__mainVideoBottom > div > .MuiSvgIcon-root {
  cursor: pointer;
  padding: 5px;
}

.videos__mainVideoBottom > div > .MuiSvgIcon-root:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 5px;
}

.videos__card {
  margin: 0 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.videos__card::-webkit-scrollbar {
  display: none;
}

.videos__card > h3 {
  margin-top: 50px;
}

.videos__card > .videos__cardVideo {
  display: flex;
  align-items: center;
}

.videos__button {
  margin-top: 30px;
}

.video__categories {
  display: flex;
  align-items: center;
  margin-left: 20px;
  overflow-x: scroll;
}

.video__categories::-webkit-scrollbar {
  display: none;
}

.videos > h3 {
  margin-top: 30px;
  margin-left: 20px;
}

.videos > h3 > span {
  font-size: 20px;
  color: #4b2199;
}
